
.app-header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: #78dec4;
  padding-right: 300px;
  padding-left: 300px;
}

.inputArea{
  position: fixed;
}

.cards{
  background: #aaa;
  display: flex;
  justify-content: center;
	flex-wrap: wrap;
  margin: 4px;
}