body{
    background: #6da0fb;
}

.visit-card{
    height: 270px;
    display: flex;
    font-family: sans-serif;
}

/* #region Left content area */
.visit-card .left-content{
    background: #fff;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-content .thumbnail img{
    height: 180px;
    border-radius: 100%;
    margin: 12px;
    border: 8px solid #f07033;
}
.left-content .name-content span{
    font-size: 22px;
    color: #f07033;
    border-bottom: 6px solid #f07033;
}
/* #endregion */

/* #region Right content area */
.visit-card .right-content{
    background: #f07033;
    width: 60px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.right-content table{
    margin-top: 10px;
}

.right-content .more-info{
    background: #fff;
    padding: 2px;
}

.right-content td:first-child{
    text-align: center;
}

.right-content .more-info i{
    font-size: 38px;
    color: #f07033;
    margin: 2px;
}

.right-content h2{
    margin: 15px 2px 0 2px;
    color: #fff;
    border-bottom: 4px solid #fff;
}

/* #endregion */

.more-info{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.more-info .row-info{
    padding: 10px;
    display: flex;
}

.info-text{
    font-size: 0;
}

.right-content:hover {
    width: 250px;
    transition: .5s;
}

.right-content:hover .info-text {
    font-size: 16px;
    transition: .5s;
}

.right-content:hover .more-info i {
    font-size: 20px;
    transition: .5s;
}